<!-- START: MAIN -->
<main class='main-top-100'>
  <div class='container-fluid'>

    <!-- START: SECTION 1 — INTRO -->
    <div
      id='our-recipes'
      class='row align-items-md-stretch bg-dark white-text mb-5'
    >
      <h2 class='text-white ps-5 pt-5'>All Recipes</h2>
      <h5 class='text-muted ps-5 pb-5'>See all of our recipes — these dishes are
        ready to take you on a delicious ride.
      </h5>
    </div>
    <!-- END: SECTION 1 — INTRO -->

    <!-- START: SECTION 2 — ALL RECIPES + TOGGLE FOR RECIPE TYPES -->
    <div id='our-recipes' class='row align-items-md-stretch bg-light'>
      <!-- IF STATEMENT THAT DETERMINES WHAT THE HEADER WILL DISPLAY -->
      {{#if type}}
        <h2 class='ps-5 pt-5'>{{type}}</h2>
      {{else}}
        <h2 class='ps-5 pt-5'>All Recipes</h2>
      {{/if}}

      <hr class='title-border' />
      <div class='row align-items-md-stretch'>
        <!-- RECIPE DISH LOOP -->
        {{#each recipes as |recipe|}}
          <div class='col-md-3'>
            <div class='p-5 rounded-3'>
              <img class='changeMe' src={{recipe.image}} />
              <h2 class='recipe_name'>{{recipe.recipe_name}}</h2>
              <button
                id={{recipe.id}}
                class='btn btn-outline-dark viewRecipeBtn'
                type='button'
                data-bs-toggle='modal'
                data-bs-target='#exampleModal'
              >View Recipe</button>
              <button
                id={{recipe.id}}
                class='btn btn-primary favoritesBtn2'
                type='button'
                data-bs-toggle='modal'
                data-bs-target='#exampleModal2'
              ><i class='fas fa-heart'></i> Favorite</button>
            </div>
          </div>
        {{/each}}

      </div>

    </div>
    <!-- END: SECTION 2 — ALL RECIPES + TOGGLE FOR RECIPE TYPES -->

  </div>
</main>
<!-- END: MAIN -->

<!-- START: FOOTER -->
<footer class='px-4 py-4 pt-4 mt-4 mb-4 text-white bg-dark'>
  <div class='row'>
    <div class='col-md-4 col-sm-12'>
      <h3>About this project</h3>
      <p class='text-muted'>
        OnlyPans was created to share and upload food recipes for everyone to
        use and cook up. We only let our members see the exclusive, hot, tasty
        recipes that others from our community have shared, as well as premiere
        OnlyPans original recipes.
      </p>
    </div>
    <div class='col-md-4 col-sm-12 footer-elements'>
      <h3>Contributors</h3>
      <a href='https://github.com/candracodes' target='_blank'><i
          class='fab fa-github'
        ></i>
        Candra Fried</a><br />
      <a href='https://github.com/hargis32' target='_blank'><i
          class='fab fa-github'
        ></i>
        Austin Pratt</a><br />
      <a href='https://github.com/thutuephan' target='_blank'><i
          class='fab fa-github'
        ></i>
        Thu Phan</a><br />
      <a href='https://github.com/dduckpena' target='_blank'><i
          class='fab fa-github'
        ></i>
        Daniel Pena</a>
    </div>
    <div class='col-md-4 col-sm-12 footer-elements'>
      <h3>Plans for future development</h3>
      <ul class='ps-0 text-gray'>
        <ol class='ps-0'><strong>Live Chat — </strong>Did you accidentally burn
          the Thanksgiving turkey? Chat with our live customer service reps to
          troubleshoot your kitchen crisis.</ol>
        <ol class='ps-0'><strong>Recipe Card Uploader —</strong>
          Do you have family recipes that have been passed down from several
          generations? With our recipe card uploader, you can flip through saved
          recipes by viewing them as image cards, rather than re-writing the
          entire food formula.</ol>
        <ol class='ps-0'><strong>Search & Pagination — </strong>
          We anticipate receiving hundreds of recipes. In an effort to make
          browsing easier, we’ll implement search and pagination.</ol>
      </ul>

    </div>
  </div>
</footer>
<!-- END: FOOTER -->

<!-- START: VIEW RECIPES MODAL POP-UP -->
<div class='modal fade' id='exampleModal' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='modalRecipeName'></h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='row'>
          <div class='col-lg-4 col-md-4 col-sm-12'>
            <span id='modalImage' class='modalImage'>
              {{! THIS IMAGE GETS POPULATED DYNAMICALLY FROM SCRIPT.JS }}
            </span>
          </div>
          <div class='col-lg-8 col-md-8 col-sm-12'>
            <h4>Ingredients</h4>
            <p id='modalIngredients'>{recipe.ingredients}</p>

            <h4>Directions</h4>
            <p id='modalDirections'>{directions}</p>
          </div>
        </div>
      </div>
      <div class='modal-footer justify-content-between'>
        <button
          type='button'
          class='btn btn-secondary mr-auto'
          data-bs-dismiss='modal'
        >Close</button>
      </div>
    </div>
  </div>
</div>
<!-- START: VIEW RECIPES MODAL POP-UP -->

<!-- START: FAVORITES MODAL POP-UP -->
<div class='modal fade' id='exampleModal2' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title text-success'>SUCCESS!</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12'>
            <p id='modalIngredients'>🍽️ Your recipe has been added to your
              favorites. Visit your profile to take a look.</p>
          </div>
        </div>
      </div>
      <div class='modal-footer justify-content-between'>
        <button
          type='button'
          class='btn btn-secondary mr-auto'
          data-bs-dismiss='modal'
        >Close</button>
        <a
          class='btn btn-primary favoritesBtn'
          id='favoritesBtn'
          href='/myprofile'
          role='button'
        >View Profile</a>
      </div>
    </div>
  </div>
</div>
<!-- END: FAVORITES MODAL POP-UP -->

<!-- SCRIPTS -->
<script
  src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
  integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
  crossorigin='anonymous'
></script>

<!-- JQUERY CORE JS -->
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
{{! <script src="/node_modules/jquery/dist/jquery.min.js"></script> }}

<!-- JQUERY-UI JS -->
<script
  src='https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js'
></script>
{{! <script src="/node_modules/jquery-ui/external/jquery/jquery.js"></script> }}

<script src='../js/script.js'></script>
<script src='../js/favorites.js'></script>